/test-classes/
/gwt-unitCache/
.classpath
.project
/war/luckybidder/
/bin/
/war/MapDBUtenti
/war/MapDBUtenti.p
/war/MapDBUtenti.t
/war/MapDBProdotti
/war/MapDBProdotti.p
/war/MapDBProdotti.t
/war/MapDBOfferte
/war/MapDBOfferte.p
/war/MapDBOfferte.t
/war/MapDBCategorie
/war/MapDBCategorie.p
/war/MapDBCategorie.t